<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WageWheel</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <header>
    <nav class="nav-bar">
      <ul class="left-links">
        <li><a href="#">Home</a></li>
      </ul>
      <ul class="title">
        <h1 class="main-title">WAGEWHEEL</h1>
      </ul>
      <ul class="right-links">
        <li><a href="#">Create Event</a></li>
        <li><a id="signup" href="#">Signup/login</a></li>
      </ul>
    </nav>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
<script src="/js/signup.js"></script>