<body>
    <header>
    <h1 class="WageWheel">WageWheel</h1>
    <p class="slogan">Make money posting your own bets!</p>
    </header>
    <img class="logo" src="./newLogo.png" alt="dollar bills">
    <div class="login">
        <p class="signUP">SIGN UP</p>
        <p class="enterUsername">Please enter your Username and password</p>
        <form id="form-signup">
        <input id="username-signup" type="text" placeholder="greatest gambler">
        <input id="email-signup" type="text" placeholder="EXAMPLE@EMAIL.COM">
        <input id="password-signup" type="password" placeholder="PASSWORD">
        <button type="submit" id="signup-button">signup</button>
        </form>
    </div>
</body>
