<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <header>
    <h1 class="WageWheel">WageWheel</h1>
    <p class="slogan">Make money posting your own bets!</p>
    </header>
    <img class="logo" src="./newLogo.png" alt="dollar bills">
    <div class="login">
        <p class="signIn">SIGN IN</p>
        <p class="pleaseEnter">Please enter your Username and password</p>
        <input id="loginInput" type="text" placeholder="EXAMPLE@EMAIL.COM">
        <input id="loginInput" type="password" placeholder="PASSWORD">
        <button class="loginButton">Login</button>
        <p class="joinNow">New to WageWheel? <a id="signUp" href="">Join now</a></p>
    </div>
    <div id="popUp" style="display: none;">
        <p>Sign Up</p>
        <p>First name</p>
        <input type="text">
        <p>Last name</p>
        <input type="text">
        <p>Email</p>
        <input type="text">
        <p>Username</p>
        <input type="text">
        <p>Password</p>
        <input type="password">
        <button>Sign Up</button>
        <button id="closeButton">x</button>
    </div>
        <!-- Overlay -->
    <div id="overlay" style="display: none;"></div>
</body>
<script src="login.js"></script>
</html>